<h1>Add movies</h1>

<%= form_for @movie do |form| %>
<!--I am creating a form, giving it access to the movies table,
and passing it to the block parameter 'form'-->
  <p>
  <%= form.label('Movie_title') %>
  <%= form.text_field(:title) %><br/>
  <!--I am calling the form, #which has access to the movies table#,
  and passing it the ':title' field-->
  <p>
  <%= form.submit('Click to add movie') %>
<% end %>
  